@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Inter",sans-serif;
}

/* .mask-fade {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  } */
  

  
  .mask-fade {
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,));
    mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
  }
  